	
	<footer>
		<!-- - --<div class="footer-blurb">
			<div class="container">
				<div class="row">
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-text-size"></span> Dynamic</h3>
						<p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
						<p><a class="btn btn-default" href="#">Procrastinate</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-wrench"></span> Efficient</h3>
						<p>Dramatically maintain clicks-and-mortar solutions without functional solutions. Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. </p>
						<p><a class="btn btn-default" href="#">Unleash</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						<h3><span class="glyphicon glyphicon-paperclip"></span> Complete</h3>
						<p>Professionally cultivate one-to-one customer service with robust ideas. Completely synergize resource taxing relationships via premier niche markets. Dynamically innovate resource-leveling customer service for state of the art customer service.</p>
						<p><a class="btn btn-default" href="#">Complete</a></p>
					</div>
					<div class="col-sm-3 footer-blurb-item">
						
						
						<h3><span class="glyphicon glyphicon-camera"></span> Phosfluorescent</h3>
							<div class="row">
								
							</div>
							
					</div>

				</div>
					
			</div>
        </div> -->
        
  <nav class="navbar navbar-default navbar-fixed-bottom"> 
  <div class="container">
 <div class="row">
   <div class="col-sm-4"></div>
   <div class="col-sm-4"><a href="#">Terms 	&amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></div>
   </div>
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">Copyright &copy; DXC Technology 2018 </div>
 </div>


    
  </div>
</nav>
	</footer>
