

                    <!-- Navbar links -->
   
            <div class="collapse navbar-collapse " id="navbar">
                 <ul class="nav navbar-nav">
                   <li>
                        <a href="#report">View Quality Report</a>
                    </li> 
                          											
                </ul>
       				 <div class="nav navbar-nav navbar-right" > <img src="img/logo.png" style="height: 48px;width: 100px; margin-top: 5px"></div>
            </div>
           
    
    

